<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_menu_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{806,880}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,880}}</string>
                <key>sourceSize</key>
                <string>{806,880}</string>
            </dict>
            <key>game_play_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{918,1224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,1224}}</string>
                <key>sourceSize</key>
                <string>{918,1224}</string>
            </dict>
            <key>game_tile_doorlropen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1786},{153,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,139}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>game_tile_doortbopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1631},{139,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,153}}</string>
                <key>sourceSize</key>
                <string>{139,153}</string>
            </dict>
            <key>game_tips_intro.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{894,1105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{894,1105}}</string>
                <key>sourceSize</key>
                <string>{894,1105}</string>
            </dict>
            <key>game_tips_step.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1236},{307,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,122}}</string>
                <key>sourceSize</key>
                <string>{307,122}</string>
            </dict>
            <key>game_warning_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1236},{762,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,341}}</string>
                <key>sourceSize</key>
                <string>{762,341}</string>
            </dict>
            <key>game_warning_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1496},{143,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,133}}</string>
                <key>sourceSize</key>
                <string>{143,133}</string>
            </dict>
            <key>game_warning_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1360},{144,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,134}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>instr_items_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1360},{671,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,176}}</string>
                <key>sourceSize</key>
                <string>{671,176}</string>
            </dict>
            <key>instr_items_dooropen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1786},{153,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,139}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>instr_scroll_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,870},{11,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,123}}</string>
                <key>sourceSize</key>
                <string>{11,123}</string>
            </dict>
            <key>instr_scroll_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,2},{12,866}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,866}}</string>
                <key>sourceSize</key>
                <string>{12,866}</string>
            </dict>
            <key>instr_segment_credites.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1398},{105,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>instr_segment_goals.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1590},{72,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,31}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
            <key>instr_segment_items.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1505},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>instr_segment_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,1067},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>level_star_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1363},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>level_star_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1228},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>level_star_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1265},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>map_footprints.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,898},{455,1129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,1129}}</string>
                <key>sourceSize</key>
                <string>{455,1129}</string>
            </dict>
            <key>menu_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,898},{610,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,167}}</string>
                <key>sourceSize</key>
                <string>{610,167}</string>
            </dict>
            <key>menu_reset2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1067},{610,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,167}}</string>
                <key>sourceSize</key>
                <string>{610,167}</string>
            </dict>
            <key>menu_setting_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1941},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>menu_setting_shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1664},{30,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,67}}</string>
                <key>sourceSize</key>
                <string>{30,67}</string>
            </dict>
            <key>menu_setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,995},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>select_level_pagination_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1302},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>select_level_pagination_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1332},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec29aa02a68c5395f14a04a1a76d31a:1/3$</string>
            <key>textureFileName</key>
            <string>menu0.png</string>
        </dict>
    </dict>
</plist>
